/* Christina Fleming - cfleming@wccnet.edu
*  11/12/2014
*/

body,h1{margin: 0; padding: 0;}
body{font: normal 75%/2.0 'Source Sans Pro',Verdana; background-color: #326e4c; /*background: url('../images/header-green.jpg') repeat-x left top;*/}
#wrapper{margin: 0 auto;width: 800px; border: 1px solid #326e4c; border-radius: 0 0 20px 20px; position: relative; background-color: white;}
h3 {text-align: center;}

//global navigation
#nav {margin: 0; padding: 5px; background-color: black; }
#nav ul {margin: 0; padding: 4px; background-color: black; font-size: 18px;}
#nav li {display: inline; margin: 0; padding: 5px 20px 5px 0; font-weight: bold; font-family: 'Overlock', serif;}
#nav li a {color: whitesmoke; text-decoration: none; padding: 5px;}
#nav li a:hover {color: black; background-color: white;}

//float div's'
.clear {clear: both;}
.right {float: right;}

//tables
//table {margin: 0 auto; border-collapse: collapse;}
.search_box {border-collapse: collapse; margin: 0 auto;}
.results_table {width: 40%; border-collapse: collapse; margin: 0 auto;}
.overall {font-size: 24px;}
.instructor {color:#326e4c; font-size: 1.4em;}

//#header {height: 214px; background: url(../images/web-banner.png) no-repeat 0px -58px; background-size: 800px 298px;  padding: 0; text-align: right;}
#header {height: 166px; background-color: #619077; background-size: 800px 298px;  padding: 0; text-align: right;}
#header h1{color: white; text-align: center; font-family: 'Overlock', serif; font-size: 5.5em; font-weight: normal; padding: 46px 10px 10px 10px;}

#content{padding: 10px;}
#footer{margin: 0 auto; text-align: center;}

